body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: #f3f2ef !important;
}


a {
  text-decoration: none!important;
  font-weight: 500!important;
}